<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a9a20b01b1.js" crossorigin="anonymous"></script>
    <link rel="shrocut icon" href="images/Logo1.ico" type="image/x-icon" >
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="css/frontendCSS/index.css">
    <title>HK INDUSTRIES</title>
</head>
<body>
    <div class="topBanner">
        <a name="top"></a>
        <nav class="navbar navbar-expand-lg navbar-light w-100 pt-0 pb-0 px-lg-5 px-xl-5 px-xxl-5 fixed-top" id="navBar">
            <div class="container-fluid d-flex align-items-center">
              <div class="m-3">
                  <img src="images/Logo.png" alt="" style="height: 10vh;" class="desLogo">
                  <a class="navbar-brand p-o mobLogo" href="#"><span style="font-size: 35px; color: whitesmoke;">HK</span><span style="font-size: 30px; color: rgb(238, 99, 0);"> Industries</span></a>
              </div>
              <button class="navbar-toggler" style=" background-color: transparent; border: solid transparent;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-bars" style="color: rgb(238, 99, 0); font-size: 25px;"></i></span>
              </button>
              <div class="collapse navbar-collapse nav justify-content-lg-end justify-content-center text-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link m-sm-0 m-md-1 m-lg-2 m-xl-2 m-xxl-2" id="home" href="/">Home</a>
                    <a class="nav-link m-sm-0 m-md-1 m-lg-2 m-xl-2 m-xxl-2" id="services" href="/services">Services</a>
                    <a class="nav-link m-sm-0 m-md-1 m-lg-2 m-xl-2 m-xxl-2" id="products" href="/products">Products</a>
                    <a class="nav-link m-sm-0 m-md-1 m-lg-2 m-xl-2 m-xxl-2" id="about" href="/about">About US</a>
                </div>
              </div>
            </div>
        </nav>
        <div class="navInfo container d-flex flex-column justify-content-start text-light">
          <div class="navText">
            <h1 style="font-size: 70px; color:orangered ; white-space: nowrap;">
              HK Industries
            </h1>
            <p>
                Started From <span style="font-weight: 700;">2016</span> Providing Best Automization Solutions
            </p>
            <div class="navButton">
                <a href="/services"><button class="btn btn-warning btn-lg">Services</button></a>
            </div>
          </div>
        </div>
    </div>
    {{{body}}}
    <div class="footer">
        <footer>
           <div class="container">
             <div class="footerItems py-5 container d-flex flex-column flex-sm-row justify-content-between align-items-stretch">
               <ul>
                 <li>
                   <h2>Contact Us</h2>
                 </li>
                 <ul>
                   <li class="py-1"><i class="fas fa-map-marked-alt" style="color: #ff9900; font-size: 20px;"></i> :
                     <span>48, Annapurna ind. estate,</span>
                     <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kathwada, Ahmedabad,</div>
                     <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gujarat.</div>
                   </li>
                   <li class="py-1"><i class="fas fa-phone-alt" style="color: #ff9900; font-size: 20px;"></i> : 
                     <span><a href="tel:9974962249" >9974962249</a></span>
                     <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:8905021380" >8905021380</a></div>
                   </li>
                   <li class="py-1"><i class="fab fa-chrome" style="color: #ff9900; font-size: 20px;"></i> : <a href="http://bottlepacking.in/" target="_blank">bottlepacking.in</a></li>
                   <li class="py-1"><i class="fas fa-envelope" style="color: #ff9900; font-size: 20px;"></i> : <a href="mailto:hk.ind2015@gmail.com" target="_blank">hk.ind2015@gmail.com</a></li>
                 </ul>
               </ul>
               <ul>
                <li>
                  <h2>Our Services</h2>
                </li>
                <ul>
                  <li class="py-1"><a href="/services">Conveyor's</li></a>
                  <li class="py-1"><a href="/services">Labelling Machine</li></a>
                  <li class="py-1"><a href="/services">Filling Machine</li></a>
                  <li class="py-1"><a href="/services">Battery Machine</li></a>
                  <li class="py-1"><a href="/services">Carton Feeder</li></a>
                </ul>
               </ul>
               <ul>
                <li>
                  <h2>Quick Links</h2>
                </li>
                <ul>
                  <li class="py-1"><a href="/products">Products</li></a>
                  <li class="py-1"><a href="/about">Company's Profile</li></a>
                </ul>
               </ul>
             </div>
           </div>
        </footer>
        <div class="copyright text-center py-3">
          <p class="m-0">Copyright <sapn style="color:#ff9900">&copy;</sapn> 2022 All Right Reserved | Designed By <sapn style="color:#ff9900">Dhurv Paghdal.</sapn></p>
        </div>
    </div>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="index.js"></script>
<script>
  AOS.init();
</script>
</html>