<div class="about py-5">
    <div class="container ">
      <p class="container pb-3" data-aos="zoom-in">
        <span style="color: orangered;">HK INDUSTRIES</span> is a world renowned manufacturer and exporter of an extensive line of machinery and other equipment comprising of Belt Conveyors, Top Labeling Machine, Rewinder and more. 
        All of these are unmatched in quality and showcase efficient performance. 
        The vision of our Ahmedabad, Gujarat, India based business has been to establish a strong foothold in all the major markets of world by offering quality and competitive machinery line. 
        With our dedication, we have come so far and set deep roots in the engineering domain.
        Our employees play an important role in making us a recognized business.
      </p>
      <hr>
      <p class="container py-3" data-aos="zoom-in">
        <span style="color: orangered;">HK INDUSTRIES</span> manufacturer of all type of Packing Machineries, and this machinery is used in many Industries like Pharmaceuticals,Cosmetics, Pesticides, Beverages, Distilleries, Dairy & Foods, Allied Industries, Switch Gear Industries, Automobile Industries, Packaging Industries, Laundry & Home Care Industries. 
        We offered broad variety of products are a proof of our progress to develop next generation equipment, which involve the much-foreseen range of Labelling & Re winder Machine, Shrink Sleeve Applicator, Sticker Labeller & Labelling Machine and Sticker & Label.
      </p>
      <hr>
      <p class="container py-3" data-aos="zoom-in">
        <span style="color: orangered;">HK INDUSTRIES</span> manufacturer of all type of Packing Machineries, and this machinery is used in many Industries like Pharmaceuticals,Cosmetics, Pesticides, Beverages, Distilleries, Dairy & Foods, Allied Industries, Switch Gear Industries, Automobile Industries, Packaging Industries, Laundry & Home Care Industries. 
        We offered broad variety of products are a proof of our progress to develop next generation equipment, which involve the much-foreseen range of Labelling & Re winder Machine, Shrink Sleeve Applicator, Sticker Labeller & Labelling Machine and Sticker & Label.
      </p>
      <hr>
      <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center" data-aos="zoom-in">
        <p class="container pt-3">
          Owing to the rich technical expertise of <span style="color: orangered;">Mr. Hiren Patel & Mr. Kirit Khorasiya</span> we are able to sustain a stable status in the industry. 
          There leadership outfits us to provide the sophisticated market with thoughtfully developed products.
        </p>
        <img src="images/Logo.png" class="img-fluid" style="height:130px">
      </div>
    </div>
</div>