<div style="height: 100vh;">
    <div class="mainSection d-flex flex-column flex-lg-row align-items-center justify-content-evenly">
        <div class="card shadow m-5">
            <div class="card-body text-center">
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_4EqCPc/11 - Plus.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  autoplay loop  ></lottie-player>
                <a href="/backend/addProduct"><button class="btn btn-warning">Add Products</button></a>
            </div>
        </div>
        <div class="card shadow m-5">
            <div class="card-body text-center">
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_we7qtj1g.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  autoplay loop  ></lottie-player>
                <a href="/backend/editProduct"><button class="btn btn-warning">Edit Products</button></a>
            </div>
        </div>
    </div>
</div>