<div style="height: 100vh;">
    <div class="loginSection container my-4 d-flex justify-content-center align-items-center">
        <div class="card shadow" style="width: 23rem;">
            <div class="card-body">
                <form action="/loginCheck" method="post">
                    <div class="mb-3">
                        <h5 class="form-label">Email address</h5>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="email" required>
                    </div>
                    <div class="mb-3">
                        <h5 class="form-label">Password</h5>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-warning">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>